#{extends 'main.html' /}

<!DOCTYPE html>

<html lang="pt-br">
<!-- Lista de tags para fazer funcionar a codificação -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<body class="login">
	<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
	<div class="menu-toggler sidebar-toggler"></div>
	<!-- END SIDEBAR TOGGLER BUTTON -->
	
	<!-- BEGIN LOGO -->
	<div class="logo">
		<a href="#"> 
		<img src="@{'public/stylesheets/css1/assets/admin/layout/img/logo-big.png'}" alt="" />
		</a>
	</div>
	<!-- END LOGO -->
	
	<!-- BEGIN LOGIN -->
	<div class="content">
		<!-- BEGIN LOGIN FORM -->
		<form class="login-form" action="@{Logins.autenticarSuap()}" method="post">
			<h3 class="form-title">Entrar</h3>
			<div class="alert alert-danger display-hide">
				<button class="close" data-close="alert"></button>
				<span> Enter any username and password. </span>
			</div>
			<div class="form-group">
				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
				<label class="control-label visible-ie8 visible-ie9">Username</label>
				<input class="form-control form-control-solid placeholder-no-fix"
					type="text" autocomplete="on" placeholder="Matricula" name="matricula" />
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Password</label>
				<input class="form-control form-control-solid placeholder-no-fix"
					type="password" autocomplete="off" placeholder="Senha" name="senha" />
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-success uppercase">Login</button>


				<a href="https://suap.ifrn.edu.br/comum/solicitar_trocar_senha/"
					id="" class="forget-password">Esqueceu a senha?</a>
			</div>

		</form>
		<!-- END LOGIN FORM -->


	</div>
	<div class="copyright">2018 © TCC</div>
</body>
<!-- END BODY -->
</html>