<!-- Lista de tags para fazer funcionar a codificação-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<ul class="page-breadcrumb">
	<li>
		<i class="fa fa-home"></i>
		<a href="@{Application.index()}">Início</a>
		<i class="fa fa-angle-right"></i>
	</li>
	<li>
		<a href="#">#{get 'local' /}</a>
		<!--  <i class="fa fa-angle-right"></i> -->
	</li>
	<!-- <li>
		<a href="#">Blank Page</a>
	</li> -->
</ul>
