#{extends 'base.html' /} #{set title:'Cadastro de Salas' /}

<!-- Lista de tags para fazer funcionar a codificação -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<div class="tab-content">
			<div class="tab-pane active" id="tab_0">
				<div class="portlet box green">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-gift"></i>Cadastro de Salas
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse"> </a> <a
								href="#portlet-config" data-toggle="modal" class="config"> </a>
							<a href="javascript:;" class="reload"> </a> <a
								href="javascript:;" class="remove"> </a>
						</div>
					</div>
					<div class="portlet-body form">
						<!-- BEGIN FORM-->
						<form action="@{Salas.salvar}" class="form-horizontal"
							method="post">
							<div class="form-body">
								<input type="hidden" name="sala.id" value="${sala?.id}">
								<div class="form-group">
									<label class="col-md-3 control-label">Horário de Abertura da Sala</label>
									<div class="col-md-4">
										<div class="input-group">
											<span class="input-group-addon"> <i
												class="fa fa-clock-o"></i>
											</span> <input type="time" name="sala.hrAbertura"
												class="form-control" placeholder="Horário de Abertura"
												value="${sala?.hrAbertura}">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Horário de Fechamento da Sala</label>
									<div class="col-md-4">
										<div class="input-group">
											<span class="input-group-addon"> <i
												class="fa fa-clock-o"></i>
											</span> <input type="time" name="sala.hrFechamento"
												class="form-control" placeholder="Horário de Fechamento"
												value="${sala?.hrFechamento}">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Número da Sala</label>
									<div class="col-md-4">
										<div class="input-icon">
											<i class="fa fa-pencil-square-o"></i> <input type="text"
												name="sala.numSala" class="form-control"
												placeholder="Número da Sala" value="${sala?.numSala}">
										</div>
									</div>
								</div>
							</div>
							<div class="form-actions">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn btn-circle blue">Enviar</button>
										<button type="button" class="btn btn-circle default">Cancel</button>
									</div>
								</div>
							</div>
						</form>
						<!-- END FORM-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END PAGE CONTENT-->