#{extends 'base.html' /} #{set title:'Lista de Salas' /}

<!-- Lista de tags para fazer funcionar a codificação -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css"
	href="@{'/public/stylesheets/css1/assets/global/plugins/select2/select2.css'}" />
<link rel="stylesheet" type="text/css"
	href="@{'/public/stylesheets/css1/assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css'}" />
<link rel="stylesheet" type="text/css"
	href="@{'/public/stylesheets/css1/assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css'}" />
<link rel="stylesheet" type="text/css"
	href="@{'/public/stylesheets/css1/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css'}" />
<!-- END PAGE LEVEL STYLES -->

<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box blue-hoki">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>Lista de Salas Disponíveis
				</div>
				<div class="tools"></div>
			</div>
			<div class="portlet-body">
				<table class="table table-striped table-bordered table-hover"
					id="sample_1">
					<thead>
						<tr>
							<th>Número da sala</th>
							<th>Hora abertura</th>
							<th>Hora fechamento</th>
							<th>Opções</th>
						</tr>
					</thead>
					<tbody>
						#{list items:salas, as: 'sala'}
						<tr>
							<td>${sala.numSala}</td>
							<td>${sala.hrAbertura}</td>
							<td>${sala.hrFechamento}</td>
							<td><a href="@{Salas.editar(sala.id)}">Editar</a> | <a
								href="@{Salas.deletar(sala.id)}">Remover</a></td> #{/list}
							<!-- O problema de a pesquisa não ser exibida está aqui 
							#{else}
							<td colspan="4">Não há salas cadastrados</td>
						 	#{/else}-->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
		<a class="btn btn-circle blue" href="@{Salas.formSala}">Cadastrar
			Sala</a>
	</div>
</div>
<!-- END PAGE CONTENT-->